@import './common.scss';

body {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $white;
  background: $blue;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  cursor: default;
  font-family: 'Swiss 911';
  font-size: 48px;
  @include small {
    font-size: 32px;
  }
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:active {
    background: lighten($blue, 10%);
    color: saturate($yellow, 100%);
  }
}

ul.categories {
  font-family: 'Swiss 911';
  height: calc(100vh * 6 / 7);
  text-align: center;
  display: flex;
  align-items: start;
  list-style-type: none;

  &:last-child {
    box-sizing: border-box;
    border-right: $border-size solid $black;
  }

  & > li {
    width: 100%;
    height: 100%;
    width: calc(100% / 6);

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      box-sizing: border-box;
      border: $border-size solid $black;
      border-right: 0;
      letter-spacing: 1px;
      font-weight: 400;
      height: calc(100% / 6);
      font-size: 1em;
      overflow: hidden;
      &:hover {
        overflow: unset;
        z-index: 999;
      }

      &.selected {
        background: lighten(saturate($yellow, 100%), 10%);
      }
    }

    ul.clues {
      text-shadow: 10px 10px $black;
      list-style-type: none;
      box-sizing: border-box;
      border-left: $border-size solid $black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: calc(100% * 5 / 6);

      & > li {
        color: $yellow;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;
        box-sizing: border-box;
        border-bottom: $border-size solid $black;
      }
    }
  }
}

.shroud {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 50%);
}

.modal {
  position: absolute;
  left: 0;
  top: calc(100vh / 7);
  width: 100vw;
  height: calc(100vh * 5 / 7);
  background: $blue;
  font-family: 'Korinna Regular';
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.clue-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .clue-text {
    margin: calc(25%);
  }
}

.wager-modal {
  .wager-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    .input-box {
      padding: 0.5rem;
      border: 3px solid $white;
      margin-top: 1em;
      input {
        max-width: 3em;
        font-weight: bolder;
        background: transparent;
        border: none;
        color: $white;
        font-family: 'Korinna Regular';
        font-size: 1em;
        &:focus-visible {
          outline: none;
        }
        text-align: right;
      }
    }
  }
}

.final-jeopardy-modal {
  top: 0;
  height: calc(100vh * 6 / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    margin: calc(25%);
  }
}
