$blue: #0a0080;
$yellow: #d7a156;
$white: #f6faff;
$border-size: 10px;
$black: #050505;

@font-face {
  font-family: 'Swiss 911';
  src: url('../../assets/fonts/swiss-911.ttf');
}

@font-face {
  font-family: 'Korinna Regular';
  src: url('../../assets/fonts/Korinna-Regular.otf');
}


body {
  position: relative;
  color: $white;
  height: 100vh;
  background: $blue;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  cursor: default;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

// Date picker

.setup {
  font-family: 'Swiss 911';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .game-date {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-decoration: underline;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 72px;
      font-family: 'Swiss 911';
    }

    .react-date-picker {
      div[class*='wrapper'] {
        border: none;
      }
      input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        &::placeholder {
          color: $yellow;
        }
        border: none;
        background: transparent;
        font-size: 72px;
        color: $yellow;
      }
      span[class*='divider'] {
        color: $yellow;
        font-size: 72px;
      }
      svg[class*='icon'] {
        stroke: $white;
      }
    }

    button.play {
      font-family: 'Swiss 911';
      padding: 20px;
      cursor: pointer;
      background: $blue;
      margin-top: 2rem;
      border: 5px solid $white;
      border-radius: 15px;
      box-shadow: 10px 10px $black;
      font-size: 72px;
      color: $white;
      &:active {
        box-shadow: none;
        transform: translate(5px, 5px);
      }
    }
  }
}

// Game board

ul {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:active {
    background: lighten($blue, 10%);
    color: saturate($yellow, 100%);
  }
}

ul.categories {
  font-family: 'Swiss 911';
  height: calc(100vh*6/7);
  text-align: center;
  display: flex;
  align-items: start;
  list-style-type: none;

  &:last-child {
    box-sizing: border-box;
    border-right: $border-size solid $black;
  }

  & > li {
    width: 100%;
    height: 100%;
    width: calc(100%/6);

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      box-sizing: border-box;
      border: $border-size solid $black;
      border-right: 0;
      font-size: 52px;
      letter-spacing: 1px;
      font-weight: 400;
      height: calc(100%/6);
    }

    ul.clues {
      text-shadow: 10px 10px $black;
      list-style-type: none;
      box-sizing: border-box;
      border-left: $border-size solid $black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: calc(100%*5/6);

      & > li {
        color: $yellow;
        font-size: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;
        box-sizing: border-box;
        border-bottom: $border-size solid $black;
      }
    }
  }
}

.clue-shroud {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,50%);
}

.clue-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 80vh;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Korinna Regular';
  font-size: 72px;
  text-transform: uppercase;

  .clue-text {
    text-align: center;
    margin: calc(25%);
  }
}
