$blue: #0a0080;
$yellow: #d7a156;
$white: #f6faff;
$border-size: 10px;
$black: #050505;

@font-face {
  font-family: 'Swiss 911';
  src: url('../../assets/fonts/swiss-911.ttf');
}

@font-face {
  font-family: 'Korinna Regular';
  src: url('../../assets/fonts/Korinna-Regular.otf');
}
